$primary-color: #FAEA10;
$secondary-color: #275C70;

$white: #FFFFFF;
$black: #000000;
$grey: #EEEEEE;

$btn-primary: #643969;

$orange: #FF7C50;

$red: #EE5932;
$purpule: #643969;

$border-color: #263936;

$font-main: "QUUB", sans-serif;

// RADIUS
$btn-radius: 4px;
