@font-face {
    font-family: 'QUUB';
    src: url('QUUB-Bold.woff2') format('woff2'),
        url('QUUB-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'QUUB';
    src: url('QUUB-Black.woff2') format('woff2'),
        url('QUUB-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'QUUB';
    src: url('QUUB-Medium.woff2') format('woff2'),
        url('QUUB-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'QUUB';
    src: url('QUUB-Regular.woff2') format('woff2'),
        url('QUUB-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'QUUB Black_R';
    src: url('QUUB-Black_R.woff2') format('woff2'),
        url('QUUB-Black_R.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'QUUB _R';
    src: url('QUUB-Regular_R.woff2') format('woff2'),
        url('QUUB-Regular_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'QUUB Medium_R';
    src: url('QUUB-Medium_R.woff2') format('woff2'),
        url('QUUB-Medium_R.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'QUUB Bold_R';
    src: url('QUUB-Bold_R.woff2') format('woff2'),
        url('QUUB-Bold_R.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

